.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  margin: 30px 0 0 30px;
  padding: 0;
  position: relative;
  width: 105px;
  height: 39px;
}

.nav__links {
  margin: 30px 80px 0 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
  font-family: "Inter", Arial, sans-serif;
  /* font-style: normal; */
  font-weight: 500;
  /* font-size: 16px; */
  /* line-height: 20px; */
  list-style: none;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  transition: opacity 0.5s ease-in-out;
}

.nav__link:hover {
  /* color: #1f69c9; */
  opacity: 50%;
}
