.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reservation__title {
  margin: 100px auto 80px auto;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  width: 385px;
  margin: auto auto 120px;
}
