.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  /* if the family name is a single word, the quotes are optional */
  /* serif and sans-serif are keywords, so they shouldn't be quoted */
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
